.location{
    padding: 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    &_accordeon{
        width: 550px;
        border-radius: 10px;
        @include glassMorShadow;
        @include glassmorphizm;
        background-color: rgba(255, 255, 255, 0.37);
        .accordion-item{
            padding: 10px;
            border-radius: 10px;
            position: relative;
            .accordion-item-header{
                @include adaptiv-font(35,20);
                @extend %Font-Monrope;
                cursor: pointer;
                color: $black;
                display: flex;
                font-weight: 300;
                justify-content: space-between;
                align-items: center;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.432);
                transition: 0.2s;
                position: relative;
                i{
                    transition: 0.2s;
                }
            }
            .accordion-item-content{
                box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
                @include adaptiv-font(25,15);
                @extend %Font-Inter;
                margin-top: 10px;
                background-color: rgba(0, 0, 0, 0.185);
                border-radius: 5px;
                font-weight: 300;
                padding: 10px;    
                color: black;
                transition: 0.2s;
                a{
                    font-weight: 400;
                    color: black;
                }  
                display: none;
                
            }
        }
    }
    &_container{
        padding: 10px;
        margin-top: 20px;
        
    }
}

.accordion-item.show{
    background-color:rgba(255, 255, 255, 0.5);
    .accordion-item-header >i{
        transform: rotate(180deg);
    }
    .accordion-item-content{
        display: block;
    }
}

