.location{
    padding: 20px;
    border-radius: 10px;
    @include glassMorShadow;
    @include glassmorphizm;
    border: none;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_accordeon{
        width: 550px;
        border-radius: 10px;
        background: #e3e3e3;
        background: linear-gradient(145deg, #bfbfbf, #e3e3e3);
        box-shadow:  13px 13px 26px #aaaaaa, -13px -13px 26px #fefefe;
        .accordion-item{
            padding: 10px;
            border-radius: 10px;
            .accordion-item-header{
                @include adaptiv-font(35,25);
                @extend %Font-Monrope;
                cursor: pointer;
                color: $black;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-shadow: 1px -1px 4px rgba(0, 0, 0, 0.432);
                transition: 0.2s;
                i{
                    transition: 0.2s;
                }
            }
            .accordion-item-content{
                box-shadow: inset 0px 0px 5px rgba(0,0,0,0.9);
                @include adaptiv-font(25,15);
                @extend %Font-Inter;
                margin-top: 10px;
                border-radius: 5px;
                background: #e3e3e3;
                background: linear-gradient(145deg, #bfbfbf, #e3e3e3);  
                padding: 10px;    
                color: $black;
                transition: 0.2s;
                a{
                    color: black;
                }  
                display: none;
                
            }
        }
        
    }
    &_container{
        padding: 10px;
        margin-top: 20px;
        
    }
}

.accordion-item.show{
    background-color: darken(#e3e3e3, $amount: 30);
    .accordion-item-header >i{
        transform: rotate(180deg);
    }
    .accordion-item-content{
        display: block;
    }
}