.catalog{
    &_text{
      padding: 30px 20px 40px 20px;
      &-title{
        text-align: center;
        @include adaptiv-font(50, 35);
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
        @extend %Font-Logo;
        color: $black;
        padding-bottom: 30px;
      }
      &-tubs{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .tub{
          @include adaptiv-font(25, 20);
          @extend %Font-Inter;
          font-weight: 200;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
          color: white;
          cursor: pointer;  
        }
        .tub.tub-active{
          text-shadow: none;
          font-weight: 400;
          color: $black;
          p::before{
            width: 100%;
          }
        }
        p{
          position: relative;
          transition: 0.2s;
          &:hover{
            color: $black;
          }
          &::before{
            content: '';
            position: absolute;
            transition: 0.3s;
            width: 0%;
            background: $black;
            height: 2px;
            left: 0px;
            top: 105%;
          }
        }
      }
    }

    &_slider{
      margin-left: 10%;
      padding: 30px 0px 60px 0px;
      &-slide{
        display: none;
      }
      &-slide-active{
        display: block;
      }
    }
}


.blog-slider {
    @extend %Font-Monrope;
    width: 100%;
    max-width: 1000px;
    @include glassmorphizm;
    @include glassMorShadow;
    background-color: rgba(255, 255, 255, 0.37);
    padding: 25px;
    border-radius: 25px;
    height: 350px;
    transition: all .3s;
    position: relative;
  &__item {
    display: flex;
    align-items: center;
    &.swiper-slide-active {
      .blog-slider__img {
        img {
            opacity: 1;
            transition-delay: .3s;
        }
      }
      .blog-slider__content {
        > * {
        opacity: 1;
        transform: none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1 + 0.3s;
        }
      }

    }
      }
    }
    
  }
  
  &__img {
    width: 400px;
    flex-shrink: 0;
    height: 400px;
    background: $black;
    box-shadow: 5px 5px 10px 0px rgba(65, 65, 65, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
    position: relative;
    
    img {
      width: 100%;
     height: 100%;
        object-fit: cover;
      display: block;
       opacity: 0;
      border-radius: 20px;
    transition: all .3s;
    }
    
  }
  
  &__content {
        padding-right: 25px;    
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all .4s;
      
      
    }
    
  }
  
  &__code {
    font-size: 20px;
    color: #7b7992;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    .volume{
      text-align: center;
    }
    .price{
      margin-left: 30px;
    }
  }
  
  &__title {
    @include adaptiv-font(30, 20);
    font-weight: 700;
    color: $black;
    margin-bottom: 20px;
  }
  
  &__text {
    @include adaptiv-font(20, 15);
    color: white;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  &__button {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.63);
    @include adaptiv-font(25, 20);
    padding: 15px 20px;
    border-radius: 20px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
    @include glassMorShadow;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    &-next{
        margin-left: 10px;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px!important;
    text-align: center;
    left: auto!important;
    top: 50%;
    bottom: auto!important;
    transform: translateY(-50%);
     &.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0 !important;
    }
    
    .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: white;
    opacity: 0.5;
    transition: all .3s;
      &-active {
      opacity: 1;
      background: $black;
      height: 30px;
      box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
      }
    } 
  }
}

