//! Scroll to top button 
.arrow_container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 10px;
    @include glassmorphizm;
    @include glassMorShadow;
    background-color:rgba(211, 211, 211, 0.541);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all 0.3s ease-out;
    cursor: pointer;
    z-index: 1000;
    &:hover{
        .arrow_icon > i{
            color: $black;
            transform: translateY(-3px);
        }
    }
    .arrow_icon{
        padding: 10px;
        i{
            transition: all 0.3s ease;
            @include adaptiv-font(30, 15);
            color: rgb(231, 231, 231);
        }
    }
}

