//! Ethnocentric (logo-font)
@font-face {
    font-family: 'Ethnocentric-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Ethnocentric-Regular'), url('/fonts/Ethnocentric-Regular.ttf') format('opentype');
    font-display: swap;
}   

// //! Inter 
@font-face{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter-Regular'), url('/fonts/Inter-Regular.ttf') format('opentype');
}

@font-face{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Inter-ExtraLight'), url('/fonts/Inter-ExtraLight.ttf') format('opentype');
}

//! Manrope  
@font-face{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Manrope-Light'), url('/fonts/Manrope-Light.ttf') format('opentype');
}

@font-face{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Manrope-Medium'), url('/fonts/Manrope-Medium.ttf') format('opentype');
}

@font-face{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Manrope-Bold'), url('/fonts/Manrope-Bold.ttf') format('opentype');
}