
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }



.fa-align-left:before {
  content: "\f036"; }


.fa-angle-double-right:before {
  content: "\f101"; }


.fa-angle-down:before {
  content: "\f107"; }


.fa-arrow-up:before {
  content: "\f062"; }


.fa-bookmark:before {
  content: "\f02e"; }


.fa-cheese:before {
  content: "\f7ef"; }


.fa-clipboard:before {
  content: "\f328"; }


.fa-comment:before {
  content: "\f075"; }


.fa-credit-card:before {
  content: "\f09d"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-eraser:before {
  content: "\f12d"; }


.fa-glass-martini-alt:before {
  content: "\f57b"; }

.fa-glass-whiskey:before {
  content: "\f7a0"; }


.fa-hand-pointer:before {
  content: "\f25a"; }


.fa-instagram:before {
  content: "\f16d"; }

.fa-map-marker-alt:before {
  content: "\f3c5"; }


.fa-mug-hot:before {
  content: "\f7b6"; }

  .fa-chevron-left:before {
    content: "\f053"; }
  
  .fa-chevron-right:before {
    content: "\f054"; }
  
    .fa-expand:before {
    content: "\f065"; }

    .fa-compress:before {
      content: "\f066"; }
    


@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.ttf") format("truetype"); 
}

.fab::before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.ttf") format("truetype"); 
}

.far::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.ttf") format("truetype");
 }

.fa::before,
.fas::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
